<% page_name = 'about' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
  <h1>Portfolio</h1>
</header>

<section class="portfolio">  
  <header>
    <a name="mission" href="#mission"><h2>Mission</h2></a>
  </header>
  <p><strong>VIDVOX Labs was launched to further our intertwined goals of building powerful tools for visual artists and the development of open source industry standards for their creative communities through strategic partnerships, collaborations, and long-term relationships.</stron></p>
</section>

<section class="portfolio">

  <header>
    <a name="principles" href="#principles"><h2>Principles</h2></a>
  </header>

  <h3>Collaboration</h3>
  <ul>
    <li>We love consulting for people who have great ideas for a project, product or business they are starting, but don’t have the technical know-how to get there.</li>
    <li>We love working with other talented developers who need a bit of extra help to polish up a few details on a project, whether it is lending an extra hand, or to bring our specific expertise to fill in gaps in knowledge.</li>
    <li>We love connecting with other teams (even our competitors!) through the process of developing and maintaining open source / open standards.</li>
  </ul>

  <h3>Sponsorship</h3>
  <ul>
    <li>One chief goal of VIDVOX Labs is to help fund and find funding for open source projects in our communities.</li>
    <li>We contribute both time and money to development of open source code and open standards on a regular basis.</li>
    <li>We support open standards within our own projects and software whenever possible.</li>
  </ul>

  <h3>Technical Excellence</h3>
  <ul>
    <li>We invest in advancing our own collective expertise, not just technical, and we aim to leverage it in all areas of our business and for our clients / customers.</li>
    <li>Including talented people from our extended network of creative technologists, designers, and project managers is a crucial part of our process.</li>
    <li>Our open source offerings should not just be technically solid, but should also set a standard for excellence by being well documented and accessible to others, including non-developers.</li>
  </ul>

</section>

<section class="portfolio">  
  <header>
    <a name="workers" href="#workers"><h2>Workers / Owners</h2></a>
  </header>
  <p>VIDVOX Labs includes the same team that develops VIDVOX Software, along with our extended network of creative technologists, designers, investors, project managers, and customers.</p>
  <ul>
    <li>Technical Lead: Ray Cutler</li>
    <li>Project Management: David Lublin</li>
  </ul>
</section>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
