<% page_name = 'index' %>

<%- include('partials/doc_top'); %>

<%- include('partials/nav'); %>

<div class="hero">
  <iframe src="https://editor.isf.video/shaders/5f0a05320c6c470015d2fe80/embed?inputs=hidden"></iframe>
</div>

<section class="big-labels">

  <div>
    <h2>VIDVOX Labs</h2>
    <p><strong>Bring the expertise of VIDVOX</strong> and our extended network of creative technologists to help develop your: App / Interactive Installation / Show Design / Enterprise Tools / Next Big Idea</p>
  </div>

</section>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
