<% page_name = 'index' %>

<%- include('partials/doc_top'); %>

<div class="hero">
  <%- include('partials/nav'); %>
  <svg preserveAspectRatio="none" viewBox="0 0 800 800">
    <rect style="fill:#3d3741;" width="800" height="800"/>
    <polygon style="fill:#302b33;" points="0 800 500 600 500 0 0 0 0 800"/>
    <polygon style="fill:#463c47;" points="800 800 500 600 500 0 800 0 800 800"/>
  </svg>
</div>

<section class="big-labels">

  <div>
    <h2>VIDVOX Labs</h2>
    <p><strong>Bring the expertise of VIDVOX</strong> and our extended network of creative technologists to help develop your: App / Interactive Installation / Show Design / Enterprise Tools / Next Big Idea</p>
  </div>

</section>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
