<% page_name = 'open-source' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
  <h1>Open Source</h1>
  <span class="subheading">Along with our partners and collaborators, VIDVOX is a leader in creating open standards and open source code libraries.</span>
</header>

<section class="big-labels">
  <div>
    <h2>Some of our proudest accomplishments include our portfolio of open specifications that have become industry standards</h2>
    <ul>
      <li>HAP: A set of video codecs for macOS, Windows and Linux that performs decompression using a computer's graphics hardware, substantially reducing the CPU usage necessary to play video. It has become the standard for high performance, high resolution movie playback on media servers, live video performance, and event visuals.</li>
      <li>ISF: The ‘Interactive Shader Format’ is designed to provide a simple, reusable and open format for creating efficient hardware-accelerated interactive video / image processing on the web, media servers, VJ software, non-linear editors, creative coding environments, and any place where you want some gorgeous eye-candy.</li>
      <li>OSCQUERY: A protocol that allows a client to browse and interact with a remote server's OSC address space. The goal of this project is to provide baseline functionality that other developers may take advantage of to construct impromptu or improvisational interfaces for dynamic environments.</li>
    </ul>

    <h2>We are also proud sponsors and contributors to related open source projects, including</h2>
    <ul>
      <li>SYPHON: Syphon is an open source Mac OS X technology that allows applications to share frames - full frame rate video or stills - with one another in realtime. Now you can leverage the expressive power of a plethora of tools to mix, mash, edit, sample, texture-map, synthesize, and present your imagery using the best tool for each part of the job. Syphon gives you flexibility to break out of single-app solutions and mix creative applications to suit your needs.</li>
      <li>SYNOPSIS: A suite of open source software for computational cinematography - tools that help the creation of visual media. Synopsis is built to help editors, artists, indie film makers, a/v developers and creators do what they do best - tell stories, make experiences and build amazing tools.</li>
    </ul>

    <h2>Open source code libraries and free utility applications for adopt these standards</h2>
    <ul>
      <li>AVF Batch Exporter</li>
      <li>ISF Editor</li>
      <li>Synopsis Analyzer and Inspector</li>
      <li>VVOpenSource / VVISF-GL</li>
      <li>NDISyphon / BlackSyphon / ProjectMilkSyphon</li>
    </ul>
  </div>
</section>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
