<% page_name = '' %>

<%- include('../partials/doc_top'); %>
<%- include('../partials/nav'); %>

<header class="cool-header">
  <h1>First Blog Post</h1>
  <span class="subheading">Something about this post or just delete this line of HTML</span>
</header>
  

<section class="blog-post">

  <aside>

    <h2>June 09, 2020</h2>

    <ol>
      <li><a href="https://vidvox.net" target="_blank">Some link</a></li>
      <li><a href="https://vidvox.net" target="_blank">A resource</a></li>
      <li><a href="https://vidvox.net" target="_blank">Another resource</a></li>
    </ol>

  </aside>

  <article>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam repudiandae atque perspiciatis. Exercitationem, velit, quas assumenda maxime recusandae mollitia blanditiis delectus cum eveniet at, unde adipisci iste? Exercitationem, pariatur eos.</p>
    <figure>
      <img src="https://placekitten.com/g/400/600" alt="kitten">
      <img src="https://placekitten.com/g/400/540" alt="kitten">
      <img src="https://placekitten.com/g/400/560" alt="kitten">
    </figure>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam repudiandae atque perspiciatis. Exercitationem, velit, quas assumenda maxime recusandae mollitia blanditiis delectus cum eveniet at, unde adipisci iste? Exercitationem, pariatur eos.</p>
    <figure>
      <img src="https://placekitten.com/g/600/340" alt="kitten">
      <img src="https://placekitten.com/g/600/320" alt="kitten">
    </figure>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam repudiandae atque perspiciatis. Exercitationem, velit, quas assumenda maxime recusandae mollitia blanditiis delectus cum eveniet at, unde adipisci iste? Exercitationem, pariatur eos.</p>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/357634845" allow="autoplay; fullscreen" allowfullscreen="" data-ready="true" frameborder="0"></iframe>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam repudiandae atque perspiciatis. Exercitationem, velit, quas assumenda maxime recusandae mollitia blanditiis delectus cum eveniet at, unde adipisci iste? Exercitationem, pariatur eos.</p>

  </article>

</section>

<%- include('../partials/footer'); %>
<%- include('../partials/doc_bottom'); %>
