<% page_name = 'blog' %>

<%- include('../partials/doc_top'); %>
<%- include('../partials/nav'); %>

<header class="cool-header">
  <h1>Blog</h1>
</header>
  

<section class="big-labels">

  <div>
    <h2><a href="first-blog-post">First Blog Post</a></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia nemo corporis consequatur facere ipsum iure, fugit illum nesciunt et? Obcaecati numquam voluptatibus reiciendis beatae fugiat dolorem ullam ipsa assumenda.</p>
  </div>

  <div>
    <h2><a href="second-blog-post"></a>Second Blog Post</a></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia nemo corporis consequatur facere ipsum iure, fugit illum nesciunt et? Obcaecati numquam voluptatibus reiciendis beatae fugiat dolorem ullam ipsa assumenda.</p>
  </div>

  <div>
    <h2><a href="third-blog-post"></a>Third Blog Post</a></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia nemo corporis consequatur facere ipsum iure, fugit illum nesciunt et? Obcaecati numquam voluptatibus reiciendis beatae fugiat dolorem ullam ipsa assumenda.</p>
  </div>

</section>

<%- include('../partials/footer'); %>
<%- include('../partials/doc_bottom'); %>
