<header id="nav">

  <a id="logo" href="/" title="HAP"><img src="/images/isf-logo.svg" width="104" height="" alt="HAP" /></a>

  <div class="hamburger">
    <span class="hamburger__top-bun"></span>
    <span class="hamburger__bottom-bun"></span>
  </div>

  <nav>

    <ul>
      <li><a href="/open-source/" <% if (page_name === 'open-source') { %>class="active" <% } %> title="">Open Source</a></li>
      <li><a href="/portfolio/" <% if (page_name === 'portfolio') { %>class="active" <% } %> title="">Portfolio</a></li>
      <li><a href="/about/" <% if (page_name === 'about') { %>class="active" <% } %> title="">About</a></li>
      <li><a href="/blog/" <% if (page_name === 'blog') { %>class="active" <% } %> title="">Blog</a></li>
    </ul>

  </nav>

</header>